.Game {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  background: red;
}

ol, ul {
  padding-left: 30px;
}

.Game {
  display: flex;
  flex-direction: row;
}

.Game-info {
  margin-left: 20px;
}
