@import 'variables.scss';

@import 'App.scss';
@import 'Game.scss';
@import 'Board.scss';
@import 'Stone.scss';

body {
  margin: 0;
  padding: 0;
  font: 14px "Century Gothic", Futura, sans-serif;
}
