.Stone {
  width: $stone-diam;
  height: $stone-diam;
  -moz-border-radius: $stone-radius;
  -webkit-border-radius: $stone-radius;
  border-radius: $stone-radius;
}

.Stone-black { background: #222; }
.Stone-white { background: #eee; }
