.Stone {
  width: 30px;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.Stone-black { background: #222; }
.Stone-white { background: #eee; }
