.Stone {
  width: 34px;
  height: 34px;
  -moz-border-radius: calc($square-width/2);
  -webkit-border-radius: calc($square-width/2);
  border-radius: calc($square-width/2); }
  .Stone .Stone-black {
    background: #222; }
  .Stone .Stone-white {
    background: #eee; }
